<div class="container-fluid" >
  <div class="container">
<div class="d-flex justify-content-between">

    <div class="">
      <h6>Information</h6>
      <div>MSSV: 58131400</div>
      <div>Author: Nguyen Duc Thai</div>
      <div>Class: 58.CNTT-1</div>
      <div>Email: nguyenducthai.it@gmail.com</div>
    </div>
    <div class="">
      <h6>This website using:</h6>
      <div>Html, CSS, Bootstrap, Jquery</div>
      <div>Ruby on Rails </div>
      <div>Database: MySQL</div>
    </div>
    <div class="">
      <h6>University</h6>
      <div>Nha Trang University</div>
      <div>02 Nguyen Dinh Chieu Street</div>
    </div>
  </div>
</div>
</div>
</div>
